<h1>New user_invite</h1>

<% form_for(@user_invite) do |f| %>
  <%= f.error_messages %>
  <p>
	<label for="user_invite_email">Email <%= f.text_field :email %></label>
  <p>
    <%= f.submit 'Send invitation' %>
  </p>
<% end %>

<%= link_to 'Back', user_invites_path %>